In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
import seaborn as sns

In [3]:
dataset = pd.read_csv(r"C:\Users\Yash\Desktop\CodeBase\EXCELR\Assingments\Answers\Multi Linear Regression\50_Startups.csv")

In [4]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [7]:
df=pd.get_dummies(dataset.State)
df.head()

   California  Florida  New York
0       False    False      True
1        True    False     False
2       False     True     False
3       False    False      True
4       False     True     False

In [8]:
dataset = pd.concat([df,dataset],axis=1)

In [9]:
dataset= dataset.drop('State',axis=1)

In [10]:
dataset.head()

,California,Florida,New York,R&D Spend,Administration,Marketing Spend,Profit
0,False,False,True,165349.20,136897.80,471784.10,192261.83
1,True,False,False,162597.70,151377.59,443898.53,191792.06
2,False,True,False,153441.51,101145.55,407934.54,191050.39
3,False,False,True,144372.41,118671.85,383199.62,182901.99
4,False,True,False,142107.34,91391.77,366168.42,166187.94

In [15]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   California       50 non-null     int64
 1   Florida          50 non-null     bool
 2   New York         50 non-null     bool
 3   R&D Spend        50 non-null     float64
 4   Administration   50 non-null     float64
 5   Marketing Spend  50 non-null     float64
 6   Profit           50 non-null     float64
dtypes: bool(2), float64(4), int64(1)
memory usage: 2.2 KB

In [14]:
dataset.California=dataset.California.replace(False,0).replace(True,1)

In [16]:
dataset.Florida=dataset.Florida.replace(False,0).replace(True,1)
dataset['New York']=dataset['New York'].replace(False,0).replace(True,1)

In [17]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   California       50 non-null     int64
 1   Florida          50 non-null     int64
 2   New York         50 non-null     int64
 3   R&D Spend        50 non-null     float64
 4   Administration   50 non-null     float64
 5   Marketing Spend  50 non-null     float64
 6   Profit           50 non-null     float64
dtypes: float64(4), int64(3)
memory usage: 2.9 KB

In [19]:
dataset.head()

,California,Florida,New York,R&D Spend,Administration,Marketing Spend,Profit
0,0,0,1,165349.20,136897.80,471784.10,192261.83
1,1,0,0,162597.70,151377.59,443898.53,191792.06
2,0,1,0,153441.51,101145.55,407934.54,191050.39
3,0,0,1,144372.41,118671.85,383199.62,182901.99
4,0,1,0,142107.34,91391.77,366168.42,166187.94

In [20]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [22]:
rg = LinearRegression()
rg.fit(X_train, y_train)

LinearRegression()

In [23]:
y_pred = rg.predict(X_test)

In [24]:
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[109880.73 105733.54]
 [180674.4  191050.39]
 [134249.29 146121.95]
 [191892.98 192261.83]
 [ 64311.72  65200.33]
 [ 59664.9   69758.98]
 [170533.3  166187.94]
 [ 73401.11  77798.83]
 [116070.89 126992.93]
 [ 87800.26  89949.14]]